<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>181918107758-dia1hurmo564fqmumaac2j4ggrtf90qn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.181918107758-dia1hurmo564fqmumaac2j4ggrtf90qn</string>
	<key>API_KEY</key>
	<string>AIzaSyAztJj8hCljGsPBHrq1qAeB6PsatPN8O4k</string>
	<key>GCM_SENDER_ID</key>
	<string>181918107758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pessoal.Slap-the-egg</string>
	<key>PROJECT_ID</key>
	<string>slap-the-egg</string>
	<key>STORAGE_BUCKET</key>
	<string>slap-the-egg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:181918107758:ios:11a2a714ea71060619fe7f</string>
</dict>
</plist>
